  <%= form_tag(sessions_path) do %>
      <h4><%= label :user, :username %></h4>
      <%= text_field :user, :username, :class => "login_box" %>

      <h4><%= label :user, :password %></h4>
      <%= password_field :user, :password, :class => "login_box" %>

      <%= submit_tag "Log in", :class => "btn"%>
  <% end %>
  <%=link_to "Sign Up", sign_up_path,:class => "btn"%>
