
<h1>Website Analytics.</h1>
  <li>Current amount of Users: <%= @users.count %></li>
  <li>Current amount of Pages: <%= @pages.count %></li>
  <li>Current amount of Posts: <%= @posts.count %></li>
  <li>Current amount of Friendships: <%= @friendships.count %></li>
  <li>Current amount of Messages: <%= @messages.count %></li>
  <li>Total amount of page views: <%= Page.total_amount_views %></li>
  <li>The first account ever created: <%= @first_user.username %></li>
  <li>The newest account created: <%= @newest_user.username %></li>
  <li>The first post ever created: <%= @oldest_post.title %></li>
  <li>The newest post created: <%= @newest_post.title %></li>
