
<h1>Website Analytics.</h1>
  <li>Current amount of Users: <%= @users.count %></li>
  <li>Current amount of Pages: <%= @pages.count %></li>
  <li>Current amount of Posts: <%= @posts.count %></li>
  <li>Current amount of Friendships: <%= @friendships.count %></li>
  <li>Current amount of Messages: <%= @messages.count %></li>
  Total amount of page views: <li><%= Page.total_amount_views %></li>
