<%if @user.errors.messages.length > 0%>
    <h1><%="There where some errors: "%></h1>
    <% @user.errors.full_messages.each do |msg|%>
    <%=msg%><br>
    <%end%>
<%end%>

<ul class ="user_form">
  <%= form_for(@user) do |f|%>
      * <%=f.label :username %>
      <li><%=f.text_field :username%></li>
      * <%= f.label :password %>
      <li><%= f.password_field :password %></li>
      <%= f.label :bio %>
      <li><%= f.text_area :bio %></li>
      <%= f.label :hobbies %>
      <li><%= f.text_field :hobbies %></li>
      <%= f.label :age %>
      <li><%= f.number_field :age %></li>
      <%= f.label :country %>
      <li><%= f.text_field :country %></li>
      <%= f.label :city %>
      <li><%= f.text_field :city %></li>
      <%= f.label :phone_number %>
      <li><%= f.text_field :phone_number %></li>
      <%= f.label :image_url %>
      <li><%= f.text_field :image_url, value: nil, placeholder: "Enter Image URL"%></li>
      <%= f.label :song%>
      
      <li><%= f.text_field :song,value: nil, placeholder: "Enter Song Name"%></li>
      
      <%=f.submit "Submit", :class => "btn"%>
  <%end%>
</ul>
