<%if @page.errors.messages.length > 0%>
    <h1><%="There where some errors: "%></h1>
    <% @page.errors.full_messages.each do |msg|%>
    <%=msg%><br>
    <%end%>
<%end%>
<ul class = "new_page">
  <%=form_for(@page) do |f| %>
  <%=f.label :title%>
  <li><%=f.text_field :title%></li>
  <%=f.label :content%>
  <li><%=f.text_area :content%></li>
  <%=f.submit"Submit Page", :class => "btn"%>
  <%end%>
</ul>
