<h1>Title: <%= @page.title %></h1>
<p>Author: <%= link_to @page.user.username, user_path(@page.user) %></p>
<p> <%= @page.content %></p><br>

<h3>Posts: </h3>
<% @posts.each do |post| %>
<h3><%=link_to post.user.username, user_path(post.user)%>: <%= post.title%><h3>
<h2></h2>
<p class="messaging"><%= post.content %></p>
<% if post.user == current_user || @page.user == current_user %>
<%= button_to "Edit post.", edit_post_path, :class => "btn",method: :get%>
<%= button_to "Delete post.", post_path(post), :class => "btn",method: :delete %>
<% end %>

<br>
<%end%>

<% if @page.user == current_user %>
<%=button_to "Edit Page", edit_page_path(@page), :class => "btn",method: :get%>
<%= button_to "Delete Page.", page_path(@page), :class => "btn",method: :delete %>
<% end %>
<%= button_to "Post a post", new_post_path , params: {:page_id => @page.id}, :class => "btn",method: :get%>
