<!DOCTYPE html>
<html>
  <head>
    <title>FaceSpace</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <div class="global_container">
    <div class="top_container">
    <%= render 'layouts/navigation'%>
    </div>


<div class="wrapper">
    <section class="columns">
    <div class="column" id="left">
      <div class= "left-box" id="user-info">
      <%if current_user%>
        <h1><%=render "users/user_info"%></h1>
      <%end%>
      </div>
    </div>

    <div class="column" id="middle">
      <%= yield %>
    </div>
    <div class="column" id="right">

      <div class= "right-box" id="log-in">
        <h1>
        <%if current_user %>
          <%="Hello " + current_user.username%>
        <%else%>
          <%=render "sessions/login"%>
        <%end%>
        </h1>
      </div>

    

      <div class= "right-box" id="friends-list">
        <h1>Friends List</h1>
        <%if current_user%>
        <%= render partial: "users/friends_list"%>
        <%end%>
      </div>
    </div>
    </section>
</div>



<div class="footer_container">
 <%= render 'layouts/footer'%>
</div>
  </div>
  </body>
</html>
