<!DOCTYPE html>
<html>
  <head>
    <title>FaceSpace</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <% if current_user %>
      <h3>You're logged in as: <%= current_user.username%></h3>
      <%= link_to "Log out", '/login', method: :delete, action: :destroy%>
    <% else %>
      <%= link_to "Login", new_session_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
